/*core*/
window {
    background-color: #343543;
}

label, entry {
    font-family: "Roboto", "Open Sans", system-ui;
    font-weight: 500;
    font-size: x-large;
    color: white;
}

button {
    background-image: none;
    box-shadow: 0 0;
    text-shadow: none;
}

.button_primary {
    padding: 9px 0;
    background-color: #6A57E4;
    border-radius: 25px;
}

.button_primary:active {
    background-color: #5A57E4;
}

.text_button, .icon_button {
    border: none;
}

entry {
    background-color: #4D4E62;
    border: 1px solid transparent;
}

entry:focus {
    border: 1px solid #343543;
    box-shadow: 0 0;
}

.list {
    background-color: transparent;
}

.list row {
    padding: 0;
}

.label_title {
    font-size: 24px;
}

.label_error {
    color: #F44336;
    font-size: 14px;
}

.separator {
    background-color: #343543;
}

/*auth*/
#auth_notebook {
    background-color: #414255;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 2px black, 0 0 2px #131415, 0 0 2px #464B4E;
}

#auth_notebook header {
    background-color: transparent;
    border: none;
}

#auth_notebook header tabs tab {
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 0 0 black;
}

#auth_notebook header tabs tab:checked {
    box-shadow: 0 2px 0 0 #6A57E4;
}

#auth_notebook header tabs tab:hover {
    background-color: #343543;
}

.auth_box {
    background-color: #414255;
}

.auth_entry {
    padding: 6px 12px;
    border-radius: 25px;
}

/*home*/
#home_header {
    background-color: #6A57E4;
    border-radius: 0 0 25px 25px;
}

#inbox_box {
    background-color: #353644;
}

#chat_box {
    background-color: #414255;
    padding: 0 16px;
}

#search_message_entry {
    border-radius: 12px;
}

.chat_list_item_selected *,
.unread_chat_list_item *,
.read_chat_list_item * {
}

.chat_list_item_selected,
.unread_chat_list_item,
.read_chat_list_item {
    border-radius: 12px;
    margin-top: 12px;
}

.chat_list_item_selected {
    background-color: #6A57E4;
}

.unread_chat_list_item {
    background-color: #414255;
}

.read_chat_list_item {

}

#message_entry {
    background-color: transparent;
}
